<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>code { Pal }</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <nav>
    <ul>
      <% if (user) { %>
      <li><a href="/auth/logout">Log Out</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  <header>
    <h1 id="home-header">
      <span id="code">code</span>
      <span class="bracket">{</span>
      <span id="pal">Pal</span>
      <span class="bracket">}</span>
    </h1>
  </header>
  <main>
    <p id="home-para">New to programming? Find a pal to program with!</p>
  </main>
</body>
</html>